<header>
<h1>Budgets</h1>

</header>
<section class="splash">
  <%= image_tag('splash.jpg')%>
  <div class="actions">
  <%= link_to ' Login ', user_session_path, class: 'btn'%>
  
  </div>
  <div class="actions">
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn'%>
  </div>
</section>